/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.blue-square {
  position: relative;
  display: block;
}
.blue-square::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #0050ff;
  right: 102%;
  bottom: 20%;
}

strong {
  font-weight: 600;
}

.transform-up {
  transform: rotate(180deg);
}

.display-flex {
  visibility: visible !important;
  opacity: 1 !important;
}

section {
  padding: 150px 0;
}

h1 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: 700;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}
h1::before {
  position: absolute;
  content: "";
  right: 105%;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #0050ff;
}

.btn-primary {
  padding: 10px 30px;
  background-color: #ed45a0;
  color: #fff;
  font-style: italic;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  transition-duration: 0.4s;
  display: block;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  box-shadow: 0 5px 0 #f9bdff;
}
.btn-primary:hover {
  background-color: rgba(237, 69, 160, 0.8);
}

.btn-more, .btn-less {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  border: none;
  position: absolute;
  bottom: 10px;
  right: 40px;
  cursor: pointer;
}
.btn-more:hover, .btn-less:hover {
  color: #0050ff;
}

.btn-less {
  display: none;
}

nav {
  padding: 80px 0;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .brand a {
  display: block;
}
nav .brand a.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #000;
}
nav .brand a.slogan {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  margin-top: 10px;
  color: #000;
  font-weight: 300;
}
nav ul {
  display: flex;
}
nav ul li {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  position: relative;
  transition-duration: 0.4s;
}
nav ul li a,
nav ul li span {
  color: #000;
  transition-duration: 0.4s;
  font-size: 14px;
}
nav ul li::before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #f9bdff;
  z-index: -1;
  left: 0%;
  top: 50%;
}
nav ul li:active::before, nav ul li:focus::before, nav ul li:hover::before {
  content: "";
  position: absolute;
  width: 80%;
  transition-duration: 0.4s;
}
nav ul li:nth-child(3) {
  position: relative;
  cursor: pointer;
}
nav ul li:nth-child(3) i {
  transition-duration: 0.4s;
  margin-left: 5px;
}
nav ul .active {
  display: block;
  position: relative;
}
nav ul .active::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 15px;
  background-color: #aac5ff;
  z-index: -1;
  left: 0%;
  top: 50%;
}
nav .submenu {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  top: 100%;
  transition-duration: 0.4s;
}
nav .submenu a {
  margin: 10px 0;
  display: block;
  position: relative;
}
nav .submenu a::before {
  content: "";
  width: 1px;
  height: 15px;
  background-color: #f9bdff;
  z-index: -1;
  left: -10%;
  top: 50%;
}
nav .submenu a:active::before, nav .submenu a:focus::before, nav .submenu a:hover::before {
  content: "";
  position: absolute;
  width: 80%;
  transition-duration: 0.4s;
}

header {
  position: relative;
  padding-top: 200px;
}
header .big-blue-square {
  background-color: #aac5ff;
  width: 38.5%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
header .hero--title {
  position: relative;
  background-color: #f9bdff;
  max-width: 650px;
  height: 150px;
  margin: 300px 0 0 25%;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}
header .hero--title__titles {
  position: absolute;
  bottom: 70%;
  right: 20%;
}
header .hero--title__titles p {
  font-family: "Spinnaker", sans-serif;
  font-size: 54px;
}
header .hero--title__titles h1 {
  font-family: "Spinnaker", sans-serif;
  font-size: 100px;
  font-weight: 600;
}
header .hero--title__titles h1::before {
  display: none;
}
header .hero--title__titles .blue-square::before {
  bottom: 35%;
  right: 102%;
}
header .hero--title .slogan {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  position: absolute;
  bottom: 10%;
  left: 20%;
  max-width: 70%;
  line-height: 130%;
}
header .hero--title .slogan::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 2px;
  background-color: #0050ff;
  bottom: 150%;
}
header .hero--title img {
  border-radius: 50%;
  position: absolute;
  left: 86%;
  bottom: -20%;
}
header .hero--text {
  max-width: 600px;
  margin: 50px 0 0 41%;
}
header .hero--text p {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
}
header .hero--text p:last-of-type {
  margin: 20px 0 50px;
}
header .hero--text p span {
  position: relative;
}
header .hero--text p span::after {
  content: "";
  position: absolute;
  left: 120%;
  bottom: 20%;
  height: 15px;
  width: 15px;
  background-color: #0050ff;
}
header .hero--text h2 {
  color: #ed45a0;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  margin: 20px auto;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}
header .hero--text .intro {
  font-weight: 500;
}

footer {
  background-color: #fff;
  margin-top: 100px;
  padding: 50px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .copyright li {
  margin-top: 10px;
}
footer .container .copyright a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.4s;
}
footer .container .copyright a:hover {
  color: #aac5ff;
}
footer .container .copyright p {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
footer .container .contacts {
  display: flex;
  font-family: "Montserrat", sans-serif;
}
footer .container .contacts p {
  margin-top: 10px;
}
footer .container .contacts .left-column p {
  font-weight: 600;
}
footer .container .contacts .left-column .margin-top {
  margin-top: 55px;
}
footer .container .contacts .right-column {
  margin-left: 50px;
}
footer .container .contacts .right-column .margin-top {
  margin-top: 30px;
}
footer .container .contacts .right-column i {
  margin-right: 20px;
  color: #000;
  transition-duration: 0.4s;
}
footer .container .contacts .right-column a:hover i {
  color: #aac5ff;
}

.portfolio {
  background-color: #e8e6e6;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .container > p {
  font-family: "Montserrat", sans-serif;
  line-height: 180%;
  max-width: 40%;
  text-align: center;
  margin: 50px 0;
}
.portfolio .card {
  width: 600px;
  max-width: 80%;
  position: relative;
  margin: 50px 0;
  transition-duration: 0.4s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.portfolio .card::before {
  content: "";
  position: absolute;
  right: 0;
  top: 20px;
  width: 7px;
  height: 40px;
  background-color: #f9bdff;
}
.portfolio .card ul {
  display: none;
}
.portfolio .card--wrapper {
  background-color: #fff;
  display: flex;
}
.portfolio .card--wrapper > img {
  display: block;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition-duration: 0.4s;
}
.portfolio .card--text {
  padding: 20px;
  position: relative;
}
.portfolio .card--text p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.portfolio .card--text h2 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
  line-height: 130%;
}
.portfolio .card--text > div > div {
  display: flex;
  align-items: center;
}
.portfolio .card--text > div > div img {
  width: 36px;
  margin-right: 20px;
}
.portfolio .card--text .date {
  margin: 50px 0 10px;
}
.portfolio .card--text .date--text {
  display: flex;
  flex-direction: column;
}
.portfolio .card--text .date p:last-of-type {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  margin-top: 8px;
}
.portfolio .card--text .date p:first-of-type {
  color: #0050ff;
  font-weight: 600;
}
.portfolio .card button {
  transition-duration: 0.4s;
  background-color: #f9bdff;
  color: #000;
  padding: 10px 40px 10px 20px;
  position: absolute;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
  bottom: -15px;
  left: 77%;
  font-weight: 600;
  box-shadow: 5px 5px 5px rgba(237, 69, 160, 0);
}
.portfolio .card button:hover {
  box-shadow: 5px 5px 5px #ed45a0;
}
.portfolio .card button::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  left: 82%;
  top: 45%;
  background-color: #000;
  opacity: 1;
  transition-duration: 0.4;
}
.portfolio .card button::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  left: 82%;
  top: 45%;
  transform: rotate(90deg);
  background-color: #000;
  transition-duration: 0.4;
}
.portfolio .open-card {
  transform: scale(1.2);
  background-color: #82a3eb;
}
.portfolio .open-card img {
  width: 25%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .open-card ul {
  display: block;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
}
.portfolio .open-card ul li {
  margin-bottom: 10px;
  position: relative;
}
.portfolio .open-card ul li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  right: 102%;
  top: 4px;
  background-color: #fff;
}
.portfolio .open-card .card--text {
  padding: 15px 10px 10px;
}
.portfolio .open-card .card--text__wrapper {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}
.portfolio .open-card .card--text > div {
  display: flex;
}
.portfolio .open-card .card--text h2 {
  margin-bottom: 20px;
  text-align: center;
}
.portfolio .open-card .card--text .date {
  margin: 10px 0;
}
.portfolio .open-card .card--text .location {
  margin-left: 50px;
}
.portfolio .open-card .card--text > div img {
  width: 20px;
}
.portfolio .open-card .btn-more, .portfolio .open-card .btn-less {
  display: none;
}
.portfolio .open-card .btn-less {
  display: block;
}
.portfolio .open-card button {
  transition-duration: 0.4s;
  color: #000;
  left: 83%;
  bottom: -15px;
}
.portfolio .open-card button::before {
  opacity: 0;
  transition-duration: 0.4s;
}
.portfolio .open-card button::after {
  transform: rotate(0deg);
  transition-duration: 0.4s;
  left: 75%;
  top: 48%;
}