footer {
	background-color: $color-002;
	padding: 20px 0;
	width: 100%;
	.container {
		max-width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include min($lg) {
			max-width: 60%;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		.copyright {
			margin-bottom: 20px;
			@include min($lg) {
				margin-bottom: 0;
			}
			li {
				margin-top: 10px;
			}
			a {
				color: $color-001;
				font-family: $font-002;
				transition-duration: 0.4s;
				&:hover {
					color: $color-003;
				}
			}
			p {
				margin-top: 10px;
				font-family: $font-002;
			}
		}
		.contacts {
			display: flex;
			font-family: $font-002;
			p {
				margin-top: 10px;
			}
			.left-column {
				p {
					font-weight: 600;
				}
				.margin-top {
					margin-top: 55px;
				}
			}
			.right-column {
				margin-left: 20px;
				@include min($lg) {
					margin-left: 50px;
				}
				.margin-top {
					margin-top: 30px;
				}
				i {
					margin-right: 20px;
					color: $color-001;
					transition-duration: 0.4s;
				}
				a:hover i {
					color: $color-003;
				}
			}
		}
	}
}
