.btn-primary {
	padding: 10px 30px;
	background-color: $color-006;
	color: $color-002;
	font-style: italic;
	border-radius: 50px;
	cursor: pointer;
	font-family: 'Times New Roman', Times, serif;
	font-size: 17px;
	transition-duration: 0.4s;
	display: block;
	width: fit-content;
	width: -moz-fit-content;
	margin: 0 auto;
	box-shadow: 0 5px 0 $color-005;
	&:hover {
		background-color: rgba($color: $color-006, $alpha: 0.8);
	}
}

.btn-more {
	background-color: transparent;
	font-family: $font-001;
	font-size: 14px;
	border: none;
	position: absolute;
	bottom: 10px;
	right: 40px;
	cursor: pointer;
	&:hover {
		color: $color-004;
	}
}

.btn-less {
	@extend .btn-more;
	display: none;
}
