.container {
	max-width: 80%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.blue-square {
	position: relative;
	display: block;

	&::before {
		content: '';
		position: absolute;
		width: 15px;
		height: 15px;
		background-color: $color-004;
		right: 102%;
		bottom: 20%;
	}
}

strong,
.strong {
	font-weight: 600;
}

.transform-up {
	transform: rotate(180deg);
}

.display-flex {
	visibility: visible !important;
	opacity: 1 !important;
}

.display-none {
	display: none;
}

section {
	padding: 150px 0;
}

.to-bottom {
	bottom: -70px !important;
}

.opacity {
	opacity: 1 !important;
}
