.portfolio {
	padding: 100px 0;
	background-color: $color-010;
	font-family: $font-002;
	h1 {
		@extend h2;
	}
	.container {
		max-width: 850px;
		width: 80%;
		padding-top: 200px;
	}
	&__project {
		margin: 50px auto 0;
		background-color: $color-002;
		padding: 15px 30px 30px 30px;
		line-height: 1.3;
		position: relative;
		max-width: 80vw;
		box-shadow: 0 5px 5px rgba($color: $color-001, $alpha: 0.4);
		@include min($lg) {
			padding: 15px 220px 30px 30px;
			margin-top: 50px;
			width: 450px;
		}
		h4 {
			font-size: $font-xl;
			font-weight: 400;
			margin-bottom: 10px;
			font-family: $font-001;
		}
		button {
			margin: 20px auto;
			@include min($lg) {
				margin: 0;
			}
		}
		img {
			display: block;
			margin: 20px auto 0;
			width: 285px;
			height: 250px;
			@include min($lg) {
				top: -40px;
				left: 80%;
				box-shadow: 0 5px 5px rgba($color: $color-001, $alpha: 0.4);
				position: absolute;
				margin: 0;
			}
		}
		.square {
			height: 10px;
			width: 10px;
			background-color: $color-004;
			display: inline-block;
			margin-left: 5px;
		}
		&--container {
			display: flex;
			flex-direction: column;
			@include min($lg) {
				flex-direction: row;
			}
			.btn {
				margin: 10px auto 0;
			}
		}
	}
	&__project.margin-left {
		margin: 50px auto;
		padding: 20px 20px 30px;
		position: relative;
		@include min($lg) {
			margin: 50px 0 50px auto;
			width: 650px;
			padding: 20px 20px 30px 70px;
		}
		img {
			margin: 20px auto;
			width: 135px;
			height: 130px;
			@include min($lg) {
				position: absolute;
				top: -10%;
				left: -15%;
				margin: 0;
			}
		}
		p {
			@include min($lg) {
				max-width: 70%;
				margin-right: 20px;
			}
		}
	}
	&__case {
		margin-top: 10px;
		display: flex;
		background-color: $color-010;
		padding: 10px 50px 10px 10px;
		@include min($lg) {
			width: 60%;
		}
		&:nth-of-type(1) {
			margin-top: 20px;
		}
		.title {
			font-size: $font-md;
			font-weight: 600;
			color: $color-004;
		}
		p {
			font-size: $font-sm;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.button-plus {
			position: relative;
			width: 20px;
			height: 20px;
			margin-left: 20px;
			cursor: pointer;
			.line {
				background-color: $color-009;
				position: absolute;
			}
			.line-1 {
				height: 4px;
				width: 20px;
				top: 50%;
				transform: translateY(-50%);
				opacity: 0;
				transition: all 0.4s ease-in-out;
			}
			.line-2 {
				height: 20px;
				width: 4px;
				position: absolute;
				left: 10px;
				transform: translateX(-50%);
				transition: all 0.4s ease-in-out;
			}
		}
	}
	.experiences {
		h2 {
			margin: 100px 0 50px;
		}
	}
}

.experience {
	&--header {
		display: flex;
		background-color: $color-002;
		flex-direction: column;
		@include min($lg) {
			flex-direction: row;
			align-items: stretch;
		}
		.img-wrapper {
			overflow: hidden;
			@include min($lg) {
				width: 270px;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}
		&__text {
			padding: 20px;
			@include min($lg) {
				width: calc(100% - 270px);
				padding: 15px 80px 15px 35px;
			}
			h4 {
				font-size: $font-xl;
				font-weight: 400;
				margin-bottom: 10px;
				font-family: $font-001;
			}
		}
		&__date {
			display: flex;
			align-items: center;
			margin-top: 20px;
			img {
				width: 30px;
				margin-right: 20px;
			}
			p {
				color: $color-004;
				font-size: $font-md;
				font-weight: 600;
			}
			.light-grey {
				color: $color-012;
				font-size: $font-sm;
				font-style: italic;
				font-weight: 400;
			}
		}
		&__localisation {
			display: flex;
			margin-top: 10px;
			flex-direction: row;
			align-items: center;
			img {
				width: 30px;
				margin-right: 20px;
			}
			p {
				font-weight: 500;
			}
		}
	}
}

.experience-accordeon {
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	&:hover {
		box-shadow: 0px 5px 5px rgba($color: $color-001, $alpha: 0.8);
	}
	&__title {
		display: flex;
		padding: 20px 40px;
		align-items: center;
		background-color: $color-013;
		box-shadow: 0 5px 5px rgba($color: $color-001, $alpha: 0.4);
		justify-content: space-between;
		margin-top: 20px;
		z-index: 1;
		h5 {
			font-size: $font-lg;
		}
	}
	&__content {
		background-color: $color-002;
		line-height: 1.3;
		padding: 30px;
		z-index: -1;
		display: none;
		h6 {
			font-size: $font-md;
			font-weight: 600;
		}
		p:first-of-type {
			margin: 10px 0;
		}
		.livrables {
			background: $color-010;
			font-style: italic;
			padding: 10px;
			margin-top: 20px;
			display: block;
			width: fit-content;
			width: -moz-fit-content;
			color: $color-001;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: $color-010;
				background-color: $color-001;
			}
		}
	}
	.accordeon-button-plus {
		position: relative;
		width: 20px;
		height: 20px;
		margin-left: 20px;
		cursor: pointer;
		.line {
			background-color: $color-009;
			position: absolute;
		}
		.accordeon-line-1 {
			height: 4px;
			width: 20px;
			top: 50%;
			transform: translateY(-50%);
			opacity: 0;
			transition: all 0.4s ease-in-out;
		}
		.accordeon-line-2 {
			height: 20px;
			width: 4px;
			position: absolute;
			left: 10px;
			transform: translateX(-50%);
			transition: all 0.4s ease-in-out;
		}
	}
}

.pink-experience {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		width: 10px;
		height: 50px;
		right: 0;
		top: 0;
		background-color: $color-009;
	}
}

.experience-accordeon-image {
	margin-top: 35px;
	&:hover {
		box-shadow: none;
	}
	.experience--header {
		&__localisation {
			display: flex;

			flex-direction: column;
			@include min($lg) {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
			.localisation-wrapper {
				display: flex;
				align-items: center;
				align-self: flex-start;
				margin-bottom: 20px;
				@include min($lg) {
					margin-bottom: 0;
				}
			}
			.btn {
				display: flex;
				align-items: center;
			}
		}
		&__text {
			padding-right: 20px;
		}
	}
	.experience-accordeon__content {
		background-color: $color-014;
	}
}
