// COLORS

$color-001: #000;
$color-002: #fff;
$color-003: #aac5ff;
$color-004: #0050ff;
$color-005: #f9bdff;
$color-006: #ed45a0;

// FONTS

$font-001: 'Poppins', sans-serif;
$font-002: 'Avenir', sans-serif;
$font-003: 'Spinnaker', sans-serif;
